
vaadin-grid::part(even-row-cell) {
    background: #EDF2F3
}

vaadin-grid::part(odd-row-cell) {
    background: #ccd0e5
}

vaadin-grid::part(header-cell) {
    background: #ccd0e5;
    max-height: 20px;
    padding-top: 10px;
    /*font-size: larger !important;*/
}

vaadin-grid::part(first-column-cell) {
    max-width: 15%;
}

[part~="platformStyle"] {
    padding-left: 34%;
}

[part~="trainTypeStyle"] {
    padding-left: 20%;
}

[slot~="vaadin-grid-cell-content-2"] {
    padding-left: 1%;
}

[slot~="vaadin-grid-cell-content-3"] {
    padding-left: 20%;
}


vaadin-grid::part(row) {
    height: 20%;
}

vaadin-grid::part(last-column-cell) {
    max-width: 20%;
}

/*this applies to the entire grid's content*/
vaadin-grid-cell-content {
    color: #2a3f81;
    font-weight: bold;
    font-family: "Arial";
    min-height: 50px;
    font-size: xxx-large;
}


body {
    background: #041c53;
}

vaadin-grid {
    height: 840px;
    width: 90%;
    left: 4%;
    bottom: -40px;
}




